$primary:#2b2a2a;
$secondary: springgreen;
$third: teal;
$fourth: #CCC;
$nav-back: #1f1f1f;

body {
    display: flex;
    flex-flow: row, nowrap;
}

nav {
    min-height: 1000px;
    min-width: 90px;
    width: 5%;
    background-color: $nav-back;
     
}

main {
    min-height: 600px;
    width: 50%;
    background-color: $primary;
    h1 {
        font-size: 4em;
        color: $secondary;
        position: relative;
        top: 20%;
        left: 15%;
        max-width: 600px;
    }
    h3 {
        font-size: 2em;
        color: $third;
        position: relative;
        top: 20%;
        left: 15%;
        max-width: 600px;
    }
    hr {
        font-size: 2em;
        color: $third;
        position: relative;
        top: 20%;
        left: 15%;
    }
    ul {
        font-size: 2em;
        color: $secondary;
        position: relative;
        top: 20%;
        left: 15%;
        max-width: 600px;
        li {
            list-style: none;
        }

    }
}

aside {
    min-height: 600px;
    width: 45%;
    background-color: $primary
}

img {
    padding: 20px;
}

#nav-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:200px;
    width: 90px
}
