@use "./variables" as var;

@mixin mainPosition {
    position: relative;
    top: 20%;
    left: 15%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row, nowrap;
}

nav {
    min-height: 100vh;
    min-width: 90px;
    width: 5%;
    background-color: var.$nav-back;
}

main {
    min-height: 600px;
    width: 70%;
    background-color: var.$primary;
    h1 {
        font-size: 4em;
        color: var.$secondary;
        @include mainPosition();
        max-width: 600px;

    }
    h3 {
        font-size: 2em;
        color: var.$third;
        @include mainPosition();
        max-width: 600px;
    }
    hr {
        font-size: 2em;
        color: var.$third;
        @include mainPosition();
    }
    ul {
        font-size: 2em;
        color: var.$secondary;
        @include mainPosition();
        max-width: 600px;
        li {
            list-style: none;
        }

    }
}

.nav_button {
    a {
        color: var.$fourth;

    }
}
aside {
    min-height: 600px;
    width: 45%;
    background-color: var.$primary
}

img {
    padding: 20px;
}

#nav-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:200px;
    width: 90px
}

#intro_name {
    animation: intro_name;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes intro_name {
    0%      {top: -200px;}
    100%    {top: 20%;}
}

#intro_desc {
    animation: intro_desc;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes intro_desc {
    0%      {top: 120%;}
    100%    {top: 20%;}
}

#hr_index {
    animation: intro_hr;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes intro_hr {
    0%      {left: 120%;}
    100%    {left: 15%;}
}

.change_text:hover {
    text-decoration: underline;
    animation: change_text;
    animation-duration: 2s;
}

@keyframes change_text {
    0%      {color: var.$third;}
    100%    {color: var.$secondary;}
}

.change_header:hover {
    animation: change_header;
    animation-duration: 1.5s;
}

@keyframes change_header {
    0%      {color: var.$secondary;}
    100%    {color: var.$third;}
}

